---
import type { Post } from "@/content/posts";
import { ensureTitleIcon, titleColor2gcTextstyleVars, ensurePostImage } from '@/utils';
import TitleIcon from "./widget/TitleIcon.astro";
import PostMeta from "./PostMeta.astro";
import { Icon } from "astro-icon/components";
import If from "./atomic/If.astro";
import Markdown from "./atomic/Markdown.astro";
interface Props {
  post: Post;
}
const { post } = Astro.props;

// Asegurar que la imagen está configurada correctamente
const postImage = ensurePostImage(post.data.imageBanner);
---

<style>
  .clip-diagonal {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  }
</style>

<div class="card p4 pos-relative overflow-hidden flex items-start"> <!-- Reducir padding general -->
  <div class="flex-1"> <!-- Contenido principal -->
    <If condition={post.data.top || post.data.password}>
      <div class="text-xl pos-absolute top-1 -right-5 rotate-45 b bg-gray-1 shadow-md py-0.5 dark:bg-dark-4 dark:b-dark-1 flex w20 justify-center color-#aaa">
        <If condition={post.data.top}><Icon class="color-#ff7242" name="mdi:pin" /></If>
        <If condition={post.data.password}><Icon class="text-lg" name="mdi:lock" /></If>
      </div>
    </If>
    <h1 class="group text-xl font-semibold flex items-center ml-[-0.5em]" style={titleColor2gcTextstyleVars(post.data.titleColor)}>
      <span class="gc-text w-0.5em opacity-0 group-hover:opacity-100">「</span>
      <span class="w-6 h-6 min-w-6 min-h-6 max-w-6 max-h-6 mr-0.5">
        <TitleIcon {...ensureTitleIcon(post.data.titleIcon)} />
      </span>
      <a class="gc-text dark:text-yellow-300" href={'/posts/' + post.id}>{post.data.title}</a>
      <span class="gc-text w-0.5em opacity-0 group-hover:opacity-100">」</span>
    </h1>

    <!-- Agrupamos descripción y metadatos -->
    <div class=""> <!-- Espaciado interno reducido -->
      <PostMeta post={post} />
      <If condition={!post.data.password && post.data.description}>
        <div class="text-xs my1"><Markdown render set:html={post.data.description} /></div>
      </If>
      <If condition={post.data.password && post.data.encrypt.description}>
        <div class="text-xs my1"><Markdown render set:html={post.data.encrypt.description} /></div>
      </If>
    </div>

    <div class="font-mono mt-2">
      <slot name="tag-start"></slot>
      {post.data.tags?.map(tag => (<a class="btn-sm mr0.5" href={'/tags/' + tag}>{tag}</a>))}
    </div>
  </div>

  <!-- Imagen a la derecha -->
  <img 
    src={postImage.light} 
    alt={post.data.title} 
    class="absolute top-0 right-0 w-[15%] h-full object-cover clip-diagonal dark:hidden"
  />
  <img 
    src={postImage.dark} 
    alt={post.data.title} 
    class="absolute top-0 right-0 w-[15%] h-full object-cover clip-diagonal hidden dark:block"
  />
</div>
